body{
	background-color: #FFFFFF;
}


p{
	color: #333333;
	width: 80%;
}

.footer p{
	color: #848484;
}

.avis{
	background-color: #4E7AFF;
	color: #FFFFFF;
}

.footer {
	background-color: #EFEFEF;
}

h1{
	color:#333333;
}

#th1{
	color:#FFFFFF;
}

.adreça{
	color: #C00000;
}

.header{
	background-color: #333333;
}

.fonsparr{
	background-color: #EFEFEF;
}
