*{
	padding: 0px;
	margin: 0px;

}

.header{
    width: 100%;
    height: 94px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: 12% 13px;
    background-size: 170px;

}

.subheader{
	padding: 10px 10px;
}

.avis{
	padding: 20px;
	margin-bottom: 10px;
	margin-left: 10%;
	width: 77%;
}

.body{
	width: 100%;
	margin: auto;
	text-align: justify;

}

.supfooter{
	margin-top: 10px;

}

p{
	width: 100%;
	margin:auto;

}

.body > p{
	margin-bottom: 50px;
}

h1{
	margin-left: 10%;


}

#th1{
	line-height: 120px;

}

.footer{
	margin-top: 15px;
	margin-bottom: 0px;
	width: 100%;
	padding: 2% 0 10%;




}

.footer > img{
	display:inline-block;
	float: left;
	height: 27px;
	margin-top: 25px;
	margin-left: 12%;
}

.footer  p{
	width: 25%;
	margin-top: 25px;
}


.fonsparr{
	height: auto;
	padding-bottom: 10px;
	line-height: 29px;
	text-align: justify;
	margin-top: -31px;
}

.fonsparr > h1{
	padding: 20px 0px;
}
