body {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: "Open Sans Regular", "Open Sans", sans-serif;
  font-size: 16px;
	color: #333333;
}

p a {
  font-family: "Open Sans Semibold", "Open Sans", sans-serif;
  font-size: 16px;
  color: #C00000;
}

h1 {
  color:#333333;
  font-family: "Open Sans Regular", "Open Sans", sans-serif;
  font-size: 35px;
}

h2 {
  font-family: "Open Sans Regular", "Open Sans", sans-serif;
  font-size: 28px;
}

h3 {
  font-family: "Open Sans Semibold", "Open Sans", sans-serif;
  font-size: 24px;
}

h4 {
  font-family: "Open Sans Semibold", "Open Sans", sans-serif;
  font-size: 14px;
}

h5 {
  font-family: "Open Sans Regular", "Open Sans", sans-serif;
  font-size: 14px;
}

.footer p{
	color: #C00000;
}

.h1fonsgris {
  font-family: "Open Sans Regular", "Open Sans", sans-serif;
  font-size: 35px;
}

.h1fonsfoto {
  font-family: "Open Sans Semibold", "Open Sans", sans-serif;
  font-size: 35px;
}

.h1entradetafoto {
  font-family: "Open Sans Regular", "Open Sans", sans-serif;
  font-size: 20px;
}

.pnoticia {
  font-family: "Open Sans Regular", "Open Sans", sans-serif;
  font-size: 14px;
}

.pnoticia a {
  font-family: "Open Sans Semibold", "Open Sans", sans-serif;
  font-size: 16px;
  color: #C00000;
}

.destacat {
  font-family: "Open Sans Regular", "Open Sans", sans-serif;
  font-size: 20px;
}

.peudefoto {
  font-family: "Open Sans Regular", "Open Sans", sans-serif;
  font-size: 13px;
}
